Add modal will be add in a futur commit
<select id="step1" onchange="loadStep('1');">
	<option selected disabled>Choose an action</option>
	<option disabled>Groups</option>
	<option value="{{ path('eliastre100_groups_create') }}" >Create group</option>
	<option value="{{ path('eliastre100_groups_delete') }}" >Remove group</option>
	<option value="{{ path('eliastre100_groups_hire') }}" >Add user</option>
	<option value="{{ path('eliastre100_groups_fire') }}" >Delete user</option>
	<option disabled>Tps</option>
	<option value="{{ path('eliastre100_python_actions_Tp_create') }}" >Create TP/Folder</option>
</select>
<div id="modal2">
</div>