{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="form-bg">        
	<form action="{{ path("fos_user_security_check") }}" method="post">
		<h2>Login</h2>
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <p><input type="text" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" id="username" name="_username" value="{{ last_username }}" required="required" /></p>

	    <p><input type="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" id="password" name="_password" required="required" /></p>

	    <label for="remember">
	    	<input type="checkbox" id="remember" name="_remember_me" value="on" />
	    	<span>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
	    </label>
	    
	    <button type="submit"></button>
	</form>
	<p class="forgot">Forgot your password? <a href="">Click here to reset it.</a></p>
</div>
{% endblock fos_user_content %}

{% block fos_user_errors  %}
{% if error %}
	<div class="notice">
        <a href="" class="close">close</a>
        <p class="warn">{{ error|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endif %}
{% endblock %}